* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#all {
  position: relative;
  z-index: 1;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
  }

#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
} 

.right-side {
  position: absolute;
  top: 21%;
  left: 54%;
  transform: translate(-50%, -50%);
  width:450px;
  padding: 20px;
  background-color: black;
  outline:5px solid red;
  color: white;
  display: none;
  z-index: 2;
}

.right-side .welcome-text:hover{
  color:lightgreen;
}

.right-side .welcome-text:active{
  color:lightgreen;
  text-decoration: underline;
}

.right-side2 {
  position: relative;
}

.page2contain{
  position:relative;
}
.right-side2{
  position: absolute;
  width:70%;
  height:800px;
  background-color: black;
  bottom:-14.3%;
  right:0;
}

.visible {
  display: block;
}

.container-below .right-side h2,
.container-below .right-side p {
  margin-top: 0;
}

.container-below .right-side p {
  font-size: 14px;
  line-height: 1.4;
}

.container-below .right-side p::before {
  content: "Full Stack Developer";
  animation: changeContent 12s infinite;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    opacity: 0;
    animation: fadeInLogo 0.5s 0.5s forwards;
  }
  
  .portfolio-name {
    opacity: 0;
    animation: fadeInName 0.5s 1s forwards;
  }
  
  .portfolio-name:hover {
    color:lightgreen;
    font-family: 'Josefin Slab', serif;
  }

  .portfolio-name:active {
    color:red;
    text-decoration: underline;
  }

  @keyframes fadeInLogo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInName {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
a {
    text-decoration: none;
    color: #333;
}

a#button1 {
    background-color: transparent;  
    position: relative;
    color: lightgreen;
}

a#button1::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: lightgreen; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

a#button1:hover::after {
    opacity: 1;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    height: 120px;
}

header:hover {
    height: 180px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content img {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}

.header-content img:hover{
  transform: scale(1.1);
}

.header-content img:active{
  transform: scale(0.8);
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.container-below{
  height: 630px;
  width:100%;
}
.all2{
  height:630px;
  width:50%;
  position:relative;
}

.all2 #image2{
  position:absolute;
  bottom:50%;
  left:75%;
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.all2 #image2:hover{
  filter: brightness(80%);
}

.all2 #image2:active{
  filter: brightness(70%);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-left: 15px;
}

nav ul li a {
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: lightgreen;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

nav ul li a:hover::after {
    opacity: 1;
}

nav ul li a:hover {
    color: lightgreen;
}

.navigation #button1{
    opacity: 0;
    animation: fadeInButton1 0.5s 1.5s forwards;
}
  
@keyframes fadeInButton1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.navigation #button2{
    opacity: 0;
    animation: fadeInButton2 0.5s 2s forwards;
  }
  
  @keyframes fadeInButton2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .navigation #button3{
    opacity: 0;
    animation: fadeInButton3 0.5s 2.5s forwards;
  }
  
  @keyframes fadeInButton3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .navigation #button4{
    opacity: 0;
    animation: fadeInButton4 0.5s 3s forwards;
  }
  
  @keyframes fadeInButton4 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .navigation #button5{
    opacity: 0;
    animation: fadeInButton5 0.5s 3.5s forwards;
  }
  
  @keyframes fadeInButton5 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes fadeImages {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#image2 {
  opacity: 0;
  animation: fadeImages 5s ease-in forwards;
}

#image2 {
  animation-delay: 5s;
}

#facebook {
    opacity: 0;
    animation: fadeImages 0.5s 5.5s ease-in forwards;
}

#twitter {
    opacity: 0;
    animation: fadeImages 0.5s 6s ease-in forwards;
}

#insta {
    opacity: 0;
    animation: fadeImages 0.5s 6.5s ease-in forwards;
}

#linkedin {
    opacity: 0;
    animation: fadeImages 0.5s 7s ease-in forwards;
}

#gmail {
    opacity: 0;
    animation: fadeImages 0.5s 7.5s ease-in forwards;
}

.social-icons #insta.show {
  bottom: 2px;
}

.social-icons #twitter.show {
  bottom: 2px;
}

.social-icons #facebook.show {
  bottom: 2px;
}

.social-icons #linkedin.show {
  bottom: 2px;
}

.social-icons #gmail.show {
  bottom: 2px;
}

.social-icons #insta {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    bottom:40%;
    left:70%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
}

.social-icons #twitter{
   display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    bottom:40%;
    left:80%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
}

.social-icons #facebook{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    bottom:40%;
    left:90%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
}

.social-icons #linkedin {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    bottom:40%;
    left:100%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
}

.social-icons #gmail{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    bottom:40%;
    left:110%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
}


.welcome-text {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px; 
    font-family: "Papyrus", sans-serif;
}

#welcome-description2{
    opacity: 0;
    animation:fadeImages 0.5s 9s ease-in forwards;
}

#welcome-description,#welcome-description2 {
    font-size: 22px;
}

#welcome-description:hover {
  color: lightgreen;
}

#welcome-description:active{
  color: lightgreen;
  text-decoration: underline;
}

.page-section1 {
    height:1000px;
    overflow: hidden;
}

.background{
    height:750px;
}

.page-section2 {
    height: 90vh;
}  

.page2contain{
    height: 700px;
}

#image3{width: 150px; 
height: 150px;
border-radius: 50%;
background-size: cover;
margin-right: 10px;
position: absolute; bottom: 520px; left:2.5;
}

#image3:hover{
  filter: brightness(80%);
}

#image3:active{
  filter: brightness(70%);
}

.left-side2 {
    flex: 1;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: flex-start;
    height:800px;
    align-items: center;
    position: relative;
    background-color: black;
    border:5px solid white;
    width: 30%;
    flex-direction: column;
}

.left-side2 h1{
  color:white; 
  text-align: center;
  position: absolute; 
  left:3; 
  top:240px; 
  font-family: 'Playfair', serif;
}

.left-side2 p{
  color: white; 
  text-align: center; 
  position: absolute; 
  left:3; top:285px; 
  font-family: Brush Script MT;
}

.social-icons2 #insta {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:45%;
    left:25%;
}

.social-icons2 #twitter{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:45%;
    left:38%;
}

.social-icons2 #facebook{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:45%;
    left:51%;
}

.social-icons2 #linkedin {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:45%;
    left:63%;
}

.social-icons2 #gmail{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:45%;
    left:76%;
}

.divisions #buttons1 {
    font-size: 18px;
    bottom:280px;
    right:0;
    background-color:black;
    position:absolute;
    color:white;
    height:40px;
    text-align:center;
    width:100%;
    cursor: pointer;
    opacity: 0.3em;
    transition: color 0.3s, border-bottom-color 0.3s;
}

#buttons1:hover {
    color: red;
}

#buttons1:active {
    border: 2px solid white;
    color:red;
    font-size: 16px;
}

.divisions #buttons2 {
    font-size: 18px;
    bottom:210px;
    right:0;
    background-color:black;
    position:absolute;
    color:white;
    height:40px;
    text-align:center;
    width:100%;
    cursor: pointer;
    transition: color 0.3s, border-bottom-color 0.3s;
}

#buttons2:hover {
    color: red;
}

#buttons2:active {
    border: 2px solid white;
    color:red;
    font-size: 16px;
}

.divisions #buttons3 {
    font-size: 18px;
    bottom:140px;
    right:0;
    background-color:black;
    position:absolute;
    color:white;
    height:40px;
    text-align:center;
    width:100%;
    cursor: pointer;
    transition: color 0.3s, border-bottom-color 0.3s;
}

#buttons3:hover {
    color: red;
}

#buttons3:active {
    border: 2px solid white;
    color:red;
    font-size: 16px;
}

.divisions #buttons4 {
    font-size: 18px;
    bottom:70px;
    right:0;
    background-color:black;
    position:absolute;
    color:white;
    height:40px;
    text-align:center;
    width:100%;
    cursor: pointer;
    transition: color 0.3s, border-bottom-color 0.3s;
}

#buttons4:hover {
    color: red;
}

#buttons4:active {
    border: 2px solid white;
    color:red;
    font-size: 16px;
}

.divisions #buttons5 {
    font-size: 18px;
    bottom:0;
    right:0;
    background-color:black;
    position:absolute;
    color:white;
    height:40px;
    text-align:center;
    width:100%;
    cursor: pointer;
    transition: color 0.3s, border-bottom-color 0.3s;
}

#buttons5:hover {
    color: red;
}

#buttons5:active {
    border: 2px solid white;
    color:red;
    font-size: 16px;
}

.welcome-description:hover {
  color: lightgreen;
}

#welcome-description2:hover {
    color: red;
}

#welcome-description2:active{
  color: red;
  text-decoration: underline;
}

.welcome-description::before{
  font-family: "Brush Script MT", cursive;
  content: "Full Stack Developer";
  animation: changeContent 12s infinite;
}
.welcome-description2::before {
  content: "Full Stack Developer";
  animation: changeContent 12s infinite;
}

@keyframes changeContent {
  0%, 8.33% {
    content: "Full Stack Developer";
  }
  8.34%, 16.66% {
    content: "App Developer";
  }
  16.67%, 25% {
    content: "Ethical Hacker and Cybersecurity";
  }
  25.01%, 33.33% {
    content: "Full Stack Developer";
  }
  33.34%, 41.66% {
    content: "App Developer";
  }
  41.67%, 50% {
    content: "Ethical Hacker and Cybersecurity";
  }
  50.01%, 58.33% {
    content: "Full Stack Developer";
  }
  58.34%, 66.66% {
    content: "App Developer";
  }
  66.67%, 75% {
    content: "Ethical Hacker and Cybersecurity";
  }
  75.01%, 83.33% {
    content: "Full Stack Developer";
  }
  83.34%, 91.66% {
    content: "App Developer";
  }
  91.67%, 100% {
    content: "Ethical Hacker and Cybersecurity";
  }
}

.hover-effect:hover{
  color:red;
}

.hover-effect:active{
  color:lightgreen;
}

.hover-effect2:hover{
  color:red;
  font-family: 'Kaushan Script', cursive;
}

.hover-effect2:active{
  color:lightgreen;
}

.right-side2 h1{
  color:white; 
  position:absolute; 
  bottom:650px; 
  width:100%; 
  height: 85px;
  background-color: hsl(0, 2%, 19%); 
  padding-left: 3%; 
  font-size:60px;
  font-family: 'Orbitron', sans-serif;
}

.right-side2 p{
  color:white;
  padding-top: 16%;
  font-size: 20px;
}

.right-side2 #symbol1:hover,#symbol1:hover,#symbol2:hover,#symbol3:hover,#symbol4:hover,#symbol5:hover,#symbol6:hover,#symbol7:hover,#symbol8:hover,#symbol9:hover,#symbol10:hover{
  color:red;
  font-family: 'Josefin Slab', serif;
} 

.right-side2 #symbol1:active,#symbol1:active,#symbol2:active,#symbol3:active,#symbol4:active,#symbol5:active,#symbol6:active,#symbol7:active,#symbol8:active,#symbol9:active,#symbol10:active{
  color:lightgreen;
  text-decoration: underline;
}

.page-section2{
  height:1000px;
  overflow: hidden;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .copyright {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover,
footer a:active {
  color: #ccc;
}
