* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a#button1 {
    background-color: transparent;  
    position: relative;
    color: lightgreen;
}

a#button1::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: lightgreen; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

a#button1:hover::after {
    opacity: 1;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    height: 150px;
}

header:hover {
    height: 180px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content img {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-left: 15px;
}

nav ul li a {
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: lightgreen;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

nav ul li a:hover::after {
    opacity: 1;
}

nav ul li a:hover {
    color: lightgreen;
}

.container-below {
    max-width: 90%;
    height: 600px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 180, 174);
    position: relative;
}

.left-side {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:0;
    padding:0;
    left:0;
}

@keyframes changeProfession {
    0% { content: "Full Stack Developer"; }
    33% { content: "App Developer"; }
    66% { content: "Ethical Hacker & Cyber Security"; }
    100% { content: "Full Stack Developer"; }
}

.welcome-description {
    font-size: 16px;
    animation: changeProfession 2s infinite;
}

.social-icons #insta {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:55%;
    left:25%;
}

.social-icons #twitter{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:55%;
    left:35%;
}

.social-icons #facebook{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:55%;
    left:45%;
}

.social-icons #linkedin {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    position:absolute;
    top:55%;
    left:55%;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-text {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-description {
    font-size: 22px;
}

.page-section1 {
    height: 1400px;
    overflow: scroll;
}
.background{
    height:750px;
    background-color: rgb(240, 180, 174);;
}

.page-section2 {
    height: 100vh;
}  

.page2contain{
    height: 700px;
}

.left-side2 {
    flex: 1;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: flex-start;
    height:750px;
    align-items: center;
    position: relative;
    background-color: #000;
    width: 30%;
}




/* footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
} */
