body{
    background-color: rgba(20, 19, 19, 0.738);
}

.all {
     border: 3px solid black;
}

.heading {
     width: 100%;
     height: 80px;
     background: black;
     display: flex;
     align-items: center;
     position: relative;
     outline: red 5px solid;
}

.heading:hover {
    height: 120px; 
}

.heading img {
     width: 70px;
     height: 70px;
}

.buttons {
     display: flex;
     justify-content: space-evenly;
     flex-grow: 1;
     margin-left: 20px; 
}

.buttons a {
     text-decoration: none;
}

.buttons button {
     color: white;
     background-color: rgba(80, 80, 80, 0.738);
     padding: 2%;
     font-size: medium;
     width: 120px; 
     height: 60px;
     font-weight: bold;
     border: none;
     border-radius: 30px;
}

.buttons button:hover {
    font-family: 'Brush Script MT', cursive;
    color: lightgreen;
    font-size: 200%;
}

.buttons button:active {
    border: 5px solid rgba(20, 19, 19, 0.738);
    color: lightgreen;
    font-size: 130%;
    background-color: rgba(60,60,60,0.738);
}

.buttons #button1:hover::after {
    display: none;
}

.buttons #button1:nth-child(1) {
    position: relative;
}

.buttons #button1:nth-child(1):after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: lightgreen;
}
